body {
    margin: 0;
}

.image-container {
    display: flex;
    flex-wrap: wrap
}

.container {
    background-color: #FFFBF3;
    padding: 1rem;
}

.container .draggable {
    padding: 1rem;
    background-color: #5998A3;
    border: 1px solid black;
    cursor: move;
    height: 300px;
    width: 300px;
}

.draggable.dragging {
    opacity: .5;
}

.checkbox {
}

.cbox {
    padding: 1px;
}

.image-container.dropzone {
    border-color: green;
}