body {
    margin: 0;
}

.container {
    background-color: #FFFBF3;
    padding: 1rem;
    margin-top: 1rem;
}

.draggable {
    padding: 1rem;
    background-color: #5998A3;
    border: 1px solid black;
    cursor: move;
}

.draggable.dragging {
    opacity: .5;
}

.checkbox {

}

.cbox {
    padding: 1px;
}

/* .image-container {
    width: 300px;
    height: 150px;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 10px:
}

.image-container img {
    width: 100%;
    height: 100%;
} */

.image-container.dropzone {
    border-color: green;
}